@charset "utf-8";

$txt1: #3f545b;
$txt2: #90adb7;

$bgc1: #a2b5bc;
$bgc2: #c1debf;
$bgc3: #fee080;

$thc1: #fe5c6b;
$thc2: #ff9768;
$thc3: #87ddde;

// transform
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

//ellipse
@mixin ellipse($line) {
  @if ($line > 1) {
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  } @else {
    // white-space:nowrap;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}
