@charset "utf-8";
@import "mixins";

.button {
  padding: 0.25rem 0.5rem;
}

img.selected {
  border: 1px solid red;
}

.moveable-direction {
  opacity: 0.25;
}

#EditTools {
  width: 15%;
  height: 100vh;
  background: black;
  color: white;
}
