@charset "utf-8";
@import "mixins";

.button-wrap {
  padding: 0 0.25rem;
  margin: 1.25rem auto 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: auto;
  height: auto;
  padding: 0.25rem 0.5rem;
  margin: 0 auto;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 1.25rem;
  word-break: keep-all;
  background-color: lightgray;
}
