.bar {
  margin-top: 0;
  width: 100%;
  max-width: 100vw;
  height: 60px;
  text-align: left;
  background: #fcdede;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.deleteButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.goBoardButton {
  padding: 8px 18px;
  border: none;
  background: #99F0CC;
  color: #333;
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 20px;
}

.deleteButton {
  padding: 8px 18px;
  border: none;
  background: pink;
  color: #333;
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 20px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.boardContent {
  margin-top: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.author {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 0px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background: #eee;
  cursor: pointer;
}
.activePageButton {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background: pink;
  color: #d9d9d9;
  cursor: pointer;
}

.action-section {
  width: 60%;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 20px; /* Add top margin */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.like-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.like-btn {
  background-color: transparent;
  border: none;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.like-btn .fa-heart,
.like-btn span {
  display: inline-block;
}

.like-btn span {
  display: inline-block;
}

.like-btn .fa-heart {
  margin-right: 5px;
  color: red;
  font-size: 16px;
  width: 30px;
  height: 30px;
  position: relative;
}

.like-btn span {
  position: relative;
  top: -10px; /* 조정하고 싶은 값으로 변경 */
}

.like-btn:hover {
  opacity: 0.7;
}

.board-page-button {
  width: 5px;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.action-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.like-icon,
.comment-icon {
  display: flex;
  align-items: center;
  color: #808080;
}

.like-icon .fa-heart,
.comment-icon .fa-comment {
  margin-right: 5px;
}

.title-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.2em;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.author {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.viewCount,
.dateCreated {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #808080;
  margin-top: 10px;
  margin-bottom: 10px;
}

.viewCount::before,
.dateCreated::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.viewCount::before {
  background: url('https://image.flaticon.com/icons/png/512/709/709884.png') center/contain no-repeat;
}

.dateCreated::before {
  background: url('https://image.flaticon.com/icons/png/512/709/709846.png') center/contain no-repeat;
}