.book-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
}

.bar {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-button {
  margin: 10px;
  padding: 9px 18px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(to right, #f78fa7, #fbb8ac);
  color: white;
  transition: transform .2s;
  cursor: pointer;
}

.board-page-button {
  width: 5px;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.bar {
  margin-top: 0;
  width: 100%;
  max-width: 100vw;
  height: 60px;
  text-align: left;
  background: #fcdede;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.book__image {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 2%;
  transition: transform 0.1s ease;
}

.book__image:hover {
  transform: scale(1.02);
}

.book__title {
  font-size: 18px;
  margin-top: 7px;
}

.book__info {
  margin-top: 7px;
  margin-bottom: 4px;
}

.sub-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555555;
}

.separator {
  margin: 0 8px;
}

.author-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #000000;
  margin-top: 5px;
}

.author-name {
  font-weight: bold;
}

.likes {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555555;
}

.heart-icon {
  color: #ef3333;
}

.like-count {
  margin-left: 5px;
}

.boards-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.authors-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-top: 10px;
}

.popularBoards-container-title{
  font-size: 24px;
}

.popularAuthors-container-title{
  font-size: 20px;
}

.rank {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.author-container {
  flex-basis: calc(33.33% - 20px);
  aspect-ratio: 1/1;
  border: 1px solid #ef9999;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcdede;
}

.author-container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 100%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
  transform: translateX(-50%);
}

.authors-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .popularAuthors-container {
    width: 90%;
  }
}
.popularAuthors-container {
  background: linear-gradient(to right, #fcdede, #fefefe, #fcdede);
  background-size: 200% auto;
  animation: gradientAnimation 5s linear infinite;
}

.popularBoards-container,
.popularAuthors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #ef9999;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #fcdede;
  width: 60%;
  margin: auto;
  min-height: 350px;
  overflow: hidden;
  background: linear-gradient(to right, #fcdede, #fefefe, #fcdede);
  background-size: 200% auto;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pagination-button:hover {
  transform: scale(1.01);
}
