.flip-paper-page {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.half-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.left-half-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.right-half-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}