.comment {
    margin-bottom: 10px;
  }
  
  .buttonContainer {
    display: inline-block;
    margin-left: 10px;
  }
  
  .smallButton {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  

  .commentSection {
    width: 95%;
  }

  .commentForm {
    display: flex;
    align-items: center; /* 세로 중앙 정렬을 위해 추가 */
    margin-top: 20px;
    width: 100%;
  }

  .commentInput {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .commentSubmitButton {
    padding: 5px 10px;
    height: 30px;
    border: none;
    background-color: #FCDEDE;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }

  .commentSubmitButton:hover {
    background-color: #FFC0C0;
  }

  .buttonContainer {
    display: flex;
    align-items: center; /* 세로 중앙 정렬을 위해 추가 */
    margin-left: 10px;
  }

  .smallButton {
    margin-right: 5px;
    margin-bottom: 5px;
  }