.popular-board {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    flex: 1;
    background: linear-gradient(135deg, #f9f9f9, #f5f5f5, #f9f9f9);
    background-size: 200% 200%;
    box-shadow: 0px 4px 5px #d6d2d2;
    animation: glow 3s ease-in-out infinite;
    transition: transform 0.3s ease-in-out; 
}

.popular-board:hover {
    transform: translateY(-5px);
}

@keyframes glow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.board-image {
    width: 100%;
    height: auto;
    max-height: 140px;
    border-radius: 2%;
    transition: transform 0.1s ease;
}

.board-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0; /* 위 아래 마진 추가 */
}

.board-price {
    font-size: 16px;
    color: #444;
    margin-bottom: 5px;
}

.board-region-name {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.board-counts {
    font-size: 14px;
    color: #888;
}
